.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul.pagination li {
    display: inline-block;
    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

ul.pagination li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

ul.pagination li.active a {
    font-weight: bold;
    color: #87b8e3;
}


ul.pagination li:hover,
ul.pagination li.active {
    border : 1px solid grey;
}

.MuiButton-root{
    height:55px;
}
